.areaSelection {
  height: 28px;
  margin-bottom: 12px;
  a {
    cursor: pointer;
    display: inline-block;
    margin-right: 24px;
    &.active{
      width: 58px;
      height: 28px;
      background-color: #00aaff;
      text-align: center;
      line-height: 28px;
      color: #ffffff;
    }
  }
}
