<div class="areaSelection clearfix">
  <span class="fl"><i v-html="title"></i>：</span>
  <div class="areas fl">
    <a
      href="#"
      v-for="(item,index) in dataArr"
      :key="index"
      :class="[{active: index === activeIndex}, 'fl']"
      @click.prevent = "itemClick(index, item)"
    >
      {{item.baseName}}
    </a>
  </div>
</div>
