.jobComponentHeader {
  height: 150px;
  background-image: url(../../../img/plate1.png);

  .scale {
    padding: 20px 0px;
    border-bottom: 1px solid #000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;

    .position-Lft {
      .worker {
        display: flex;
        font-size: 28px;
        height: 50px;
        line-height: 50px;

        .worker-lft {
          padding-right: 30px;
        }

        .price {
          color: #fb332f;
          font-size: 26px;
        }
      }

      .HY {
        display: flex;
        margin: 20px 0;

        >div {
          border: 1px solid #ffffff;
          margin: 0 20px;
        }
      }
    }

    .position-Rit {
      display: flex;
      justify-content: space-between;
      .companys {
        margin-right: 20px;
        .worker {
          display: flex;
          font-size: 28px;
          height: 50px;
          line-height: 50px;

          .worker-lft {
            padding-right: 30px;
          }

          .price {
            color: #fb332f;
            font-size: 26px;
          }
        }

        .HY {
          display: flex;
          margin: 20px 0;

          >div {
            border: 1px solid #ffffff;
            margin: 0 20px;
          }
        }
      }

      .tu {
        width: 90px;
        height: 90px;
        border: 1px solid #000;
      }
    }
  }
}
