<div class="detailed container">
    <!-- 企业简介开始 -->
 <div class="introduction">
     <i>企业简介</i>
     <div class="word" v-html="introduce">

     </div>
 </div>
<!-- 企业简介结束 -->


<!-- 公司地址开始 -->
<div class="address">
    <i>公司地址</i>
    <div class="word">
        {{address ? address : ''}}
    </div>

</div>
<!-- 公司地址结束 -->
</div>
