<div class="position">
  <!-- 头部 -->
  <JobCommonHeader>
  </JobCommonHeader>

  <!-- 导航栏开始 -->
  <nav class="container">
    <ColumnTab
      :navigationTabs="positionNav"
      @itemClick="HereClick"
    >
    </ColumnTab>
  </nav>
  <!-- 导航栏结束 -->
</div>
