<div class="description container">
  <ul class="describe">
    <li class="one">
      <span>工作职责</span>
      <div class="simple">
        jubvubvuernvirnnv
      </div>
    </li>
    <li class="two">
      <span>职位要求</span>
      <div class="simple">
        jubvubvuernvirnnv
      </div>
    </li>
    <li class="three">
      <span>公司地址</span>
      <div class="simple">
        jubvubvuernvirnnv
      </div>
    </li>
  </ul>

</div>