.tutorDetails{
padding: 34px 30px;
.middle{
    width: 268px;
    height: 230px;
    margin: 0 auto;
    text-align: center;
    .portrait{
        width: 138px;
        height: 138px;
        border-radius: 50%;
        border: 1px solid #eeeeee;
        margin: 0 auto;
    }
    .bossName{
        height: 62px;
        line-height: 62px;
        font-size: 26px;
    }
    .bossWork{
        display: flex;
        font-size: 18px;
        color: #929292;
        width: 100%;
        >div:nth-child(2){
            width: 1px;
            border: 1px solid #929292;
            margin: 0 18px;
        }
    }
}
.bossIntroduce{
    
    i{
        padding-left: 30px;
        background: url(../../img/forum.png) no-repeat;
        font-size: 20px;
        color: #878787;
        font-weight: 600;
        height: 38px;
        display: block;
    }
    .written{
        padding-left: 30px;
        color: #a4a4a4;
    }
}
}