.recruit {
  padding: 20px 0px;
  nav {
    display: flex;
    height: 76px;
    background-color: #f4f4f4;
    line-height: 76px;
    padding-left: 30px;

    span {
      font-size: 15px;
      font-weight: 600;
    }

    .Navigation {
      display: flex;
      li {
        cursor: pointer;
        font-size: 14px;
        color: #8b8b8b;
        font-weight: 600;
        margin: 0 28px;
        &.active{
          color: #ff1212;
        }
      }
    }
  }
  .search{
    padding-bottom: 40px;
  }
  .recruitList {
    .boss {
      display: flex;
      li{
        cursor: pointer;
        width: 25%;
        height: 132px;
      }
    }
  }
}
